<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/My_logo-removebg-preview-Photoroom-fotor-2024071094055.png">
  <title>Frontend Mentor | Intro component with sign up form</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="main">
    <div class="left">
      <h1>Learn to code by watching others</h1>
      <p>See how experienced developers solve problems in real-time. Watching scripted tutorials is great, 
        but understanding how developers think is invaluable.</p>
    </div>
    <div class="right">
      <div class="right_box1">
        <h3>Try it free 7 days <span>then $20/mo. thereafter</span></h3>
      </div>
      <div class="right_box2">
        <form action="" method="post">
            <div class="input_field">
              <input class="First_name_field" type="text" placeholder="First Name">
              <p class="input_p"><i>First Name cannot be empty</i></p>
              <img class="input_img" src="static/images/icon-error.svg" alt="">
            </div>
    
            <div class="input_field">
              <input class="Last_name_field" type="text" placeholder="Last Name">
              <p class="input_p"><i>Last Name cannot be empty</i></p>
              <img class="input_img" src="static/images/icon-error.svg" alt="">
            </div>
    
            <div class="input_field">
              <input class="email_field" type="email" placeholder="Email Address">
              <p class="input_p"><i>Email Address cannot be empty</i></p>
              <img class="input_img" src="static/images/icon-error.svg" alt="">
            </div>
            <div class="input_field">
              <input class="password_field" type="password" placeholder="Password">
              <p class="input_p"><i>Password cannot be empty</i></p>
              <img class="input_img" src="static/images/icon-error.svg" alt="">
            </div>
            <button style="width: 100%;" value="Insert">Claim your free trial</button>
            <p class="button_p">By clicking the button, you are agreeing to our <span>Terms and Services</span></p>
        </form>
      </div>
    </div>
  </div>
  
  <script src="static/script.js"></script>
</body>
</html>